* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* background image */
.middle {
    width: 100%;
    height: 100vh;
    background-image: url(./bgimage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.middlerap {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    padding-top: 5rem;
}

.box_container {
    width: 55%;
    height: 80vh;
    background-color: #fff;
    border-radius: 30px;
    margin-left: 22rem;
    background: rgba(121, 118, 118, 0.6);
}

.heading h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: gold;
    text-shadow: 1px 1px 1px black, 0 0 25px rgb(255, 230, 0), 0 0 5px rgb(1, 1, 1);
    border-bottom: 1px solid aliceblue;
    margin-bottom: 2rem;
    padding: 10px;
    transition: 0.3s;
}

.heading h2:hover {
    color: aliceblue;
}

.content ul {
    padding-left: 3rem;
}

.content ul li {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    color: aliceblue;
    font-weight: 700;
    padding-bottom: 2rem;
    font-size: 30px;
}


.box {
    float: right;
    width: 300px;
    height: 5vh;
    margin-right: 2rem;
}

#button {
    font-size: 15px;
    color: black;
    border-radius: 30px;
    height: 35px;
    width: 250px;
    margin-left: 15rem;
    margin-top: 20px;
    margin-bottom: 10px;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.5);
}

#button:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}


.link {
    width: 100%;
    padding-left: 8rem;
}

.link ul li {
    list-style: none;
    display: inline;
    float: left;
}

.link ul li a {
    text-decoration: none;
    text-transform: uppercase;

}

.link a h3 {
    font-size: 25px;
    margin-right: 4rem;
    color: aliceblue;
    background-color: transparent;
    border: 1px solid aliceblue;
    padding: 6px 22px;
    border-radius: 20px;
    transition: 0.3s;
    font-family: sans-serif;
}

.link a h3:hover {
    color: gold;
    background-color: black;
}

.modal-header {
    background-color: #333;
    color: aliceblue;
}

.modal-body {
    background-color: black;
}

.modal-footer {
    background-color: #333;
}